<article>
  <section id="main">
    <h2>Useful Links</h2>
    <h3><%= link_to "The Croquet Association", "http://www.croquet.org.uk/", :target => 'blank' %></h3>
    <h3><%= link_to "South East Croquet Federation", "http://www.southeastcroquet.org.uk/", :target => 'blank' %></h3>
    <h3><%= link_to "The Croquet Academy", "http://www.thecroquetacademy.com/", :target => 'blank' %></h3>
    <h3><%= link_to "Croquet Equipment", "http://www.oxfordcroquet.com/equip/", :target => 'blank' %></h3>
    <h3><%= link_to "Clothing etc.", "http://www.bowlsdirect.com/products.php3", :target => 'blank' %></h3>
    <h3><%= link_to "A Glossary of Terms", "http://cornwall-croquet.org.uk/croquet_glossary.htm", :target => 'blank' %></h3>
    <h3><%= link_to "Rules of Croquet", "http://www.croquet.org.uk/garden/gardenrules.html", :target => 'blank' %></h3>
    <h3><%= link_to "Rules of Bowls", "http://news.bbc.co.uk/sport1/hi/other_sports/bowls/4747148.stm", :target => 'blank' %></h3>
  </section>
</article>