<nav id="main_nav" role="navigation">
  <ul id="line1">
    <li><%= link_to "Home Page", root_path %></li>
    <li><%= link_to "About the Club", about_path %></li>
    <li><%= link_to "How to Join", join_path %></li>
    <li><%= link_to "What you need", needed_path %></li>
    <li><%= link_to "Programme", programme_path %></li>
    <li><%= link_to "Newsletters", news_letters_path %></li>
    <br><br>
    <li><%= link_to "Club Matters", club_matters_path %></li>
    <li><%= link_to "How to get here", getting_here_path %></li>
    <li><%= link_to "Book a Lawn", book_lawn_path %></li>
    <li><%= link_to "Links", links_path %></li>
  </ul>
</nav>